POSTGRES_DB=task_management_dga_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_here

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/postgres?currentSchema=public
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password_here
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver